body {
	background-color: #CEA4E3;
	font-family: Veranda, Geneva, Arial, Helvetica;
	font-size: 12pt;
	}

.centerResumeDiv {

	margin: 0 auto;
	border: 3px solid black;
	width: 90%;
	background-color: #EBE5E7;
	padding: 10px;
	
}

.leftText { text-align: left;}

.centerHeader { text-align: center;}

.resumeFont { font-weight: bold;}

.formatPicture {
	border: 2px solid black; 
	width: 400px; 
	height: 280px; 
	margin-right:20px; 
	margin-left: 5px; 
	margin-bottom: 10px;
	float:left;
}

